// Font
$font-main: "Jost", Arial, sans-serif;

// Colors
$primary-color: #630a37;
$secondary-color: #ef7b00;
$font-color: #616161;
$font-color-disabled: #969696;
$font-color-subtle: #7f7f7f;
$white: #ffffff;
$background-light: #f7f7f7;
$background-grey: #f5f5f5;
$background-info: #eff0f2;
$border-color: #dddddd;
$border-color-dark: #616161;
$shadow-color: rgba(0, 0, 0, 0.05);
$success-color: #406325;
$warning-color: #f2b600;
$shadow-dark: #1c2b0b;

// Border radius
$radius-lg: 35px;
$radius-md: 8px;
$radius-sm: 4px;
$radius-circle: 50%;

// Z-index
$z-navbar: 1000;