@use '../base/variables';

// Navbar Styles

.navbar {
  background: variables.$white;
  border-bottom: 1px solid #eee;
  padding: 10px 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 56px;
  box-shadow: 0px 1px 2px variables.$shadow-color;
  z-index: variables.$z-navbar;

  a,
  .router-link {
    color: variables.$primary-color;
    font-family: variables.$font-main;
    font-size: 1rem;
    font-weight: 500;
    margin-right: 16px;
    text-decoration: none;
    transition: color 0.2s;

    &:hover {
      color: variables.$secondary-color;
    }
  }
}